body {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --grey: #E9E9E9;
}

.black-cta {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.625rem;
  border: none;
  font: normal normal 700 1rem 'Nanum Gothic';
  color: white;
  cursor: pointer;
}

/* Navbar */
.offer-banner {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font: normal normal normal 1rem 'Nanum Gothic';
  color: white;
}

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.25rem;
  padding: 0 3.75rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar .options-left,
.navbar .options-right {
  display: flex;
  align-items: center;
  width: 29.4rem;
}

.navbar .options-right {
  justify-content: space-between;
}

.navbar .options-left a,
.navbar .options-right a {
  font: normal normal 700 1rem 'Nanum Gothic';
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 0 2.25rem;
}

.navbar .options-right a {
  margin: 0 1.5rem;
}

.navbar .options-right a img {
  height: 1rem;
  width: 1rem;
  margin-top: 0.35rem;
}

.navbar .logo {
  width: 9rem;
  height: 2.38rem;
}

.navbar .options-right .location {
  display: flex;
  align-items: center;
  width: fit-content;
}

.navbar .options-right .location img {
  height: 1rem;
  width: 0.9rem;
  margin-right: 0.6rem;
}
/* Navbar */

/* Hero Banner */
.hero-banner {
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 38.75rem;
  max-height: 38.75rem;
  padding: 0rem 11.25rem 0rem 14.5rem;
}

.hero-banner img {
  height: 28.8rem;
  width: 28.8rem;
}

.hero-banner .hero-content {
  margin-bottom: 6rem;
}

.hero-banner .hero-content .heading {
  font: normal normal 400 2.75rem/4rem 'Nanum Gothic';
  color: black;
  text-align: right;
  margin-bottom: 1rem;
}

.hero-banner .hero-content .subheading {
  font: normal normal 400 1.1rem/1.6rem 'Nanum Gothic';
  letter-spacing: 1px;
  color: #636363;
  text-align: right;
  width: 25rem;
  margin-bottom: 4rem;
  margin-left: auto;
}

.hero-banner .hero-content button {
  width: 14rem;
  margin-left: auto;
}
/* Hero Banner */

/* Features */
.features {
  display: flex;
  justify-content: space-between;
  padding: 5rem 19rem;
  align-items: baseline;
}

.features .feature {
  text-align: center;
  width: 12.5rem;
}

.features .feature img {
  margin-bottom: 1.25rem;
}

.features .feature .feature-img-1 {
  width: 5.6rem;
  height: 4.3rem;
}

.features .feature .feature-img-2 {
  height: 4.6rem;
  width: 4.6rem;
}

.features .feature .feature-img-3 {
  height: 4rem;
  width: 4rem;
}

.features .feature .heading {
  font: normal normal 400 1.1rem/1.6rem 'Nanum Gothic';
  color: #222;
  margin-bottom: 0.625rem;
}

.features .feature .subheading {
  font: normal normal 400 1rem/1.4rem 'Nanum Gothic';
  color: #636363;
  margin-bottom: 0;
}
/* Features */